/*
    Анимация для фона
*/
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


/*
    Анимация для canvas
*/
@keyframes myMove {
    50% {
        box-shadow: 10px 20px 30px #4CAF50;
    }
}


/*
    Анимация радужной кнопки при наведении
*/
@keyframes slideBG {
    to {
        background-position: 20vw;
    }
}